@{
	ViewBag.Title = "Affiliate";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section headCss{
	<link href="/Content/admin/select2_metro.css" rel="stylesheet" />
	<link href="/Content/admin/DT_bootstrap.css" rel="stylesheet" />

}
@section pageTitle
{
	消息管理		<small>贷款</small>
}
@section breadNav
{
	<li>
		<i class="fa fa-home"></i>
		<a href="index.html">首页</a>
		<i class="fa fa-angle-right"></i>
	</li>
	<li><a href="#">加盟</a></li>
}

<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-edit"></i>加盟列表</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>

					<a href="javascript:;" class="reload"></a>

				</div>
				@{Html.RenderPartial("_Tools");}

			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
						<tr>
							<th class="table-checkbox">
								<input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>

							<th>企业名称</th>
							<th>企业类型</th>
							<th>联系人</th>
							<th>联系人职务</th>
							<th>手机号码</th>
							<th>申请时间</th>

						</tr>
					</thead>
					<tbody></tbody>
				</table>


			</div>
		</div>
	</div>
</div>

@section footerJS
{
	<script src="/Content/admin/js/select2.min.js"></script>
	<script src="/Content/admin/js/jquery.dataTables.js" charset="utf-8"></script>
	<script src="/Content/admin/js/DT_bootstrap.js" charset="utf-8"></script>
	<script src="/Content/admin/js/app.js"></script>
	<script src="/Content/admin/js/Tools.js"></script>

	<script type="text/javascript">

		$(function () {
			//获取删除ID


			_delete("/admin/DelAffliate/");
			//创建Table
			$('#sample_1').dataTable({

				"aLengthMenu": [
					[10, 15, 20, -1],
					[10, 15, 20, "所有"] // change per page values here
				],
				// set the initial value
				"iDisplayLength": 10,
				"sAjaxSource": "/admin/GetAffList",
				"sPaginationType": "bootstrap",
				"aoColumns": [
				{
					'bSortable': false,

					"fnRender": function (obj) {
						// return ' <div class="checker"><span class=""><input type="checkbox" class="checkboxes" value="' + obj.aData[0] + '"  style=""></span></div>'

						return '<input type="checkbox" class="checkboxes" value="' + obj.aData[0] + '" style="" />'
					}
				},
				{ 'bSortable': true, "sClass": "center", },
				{ 'bSortable': true, "sClass": "center" },
				{ 'bSortable': true, "sClass": "center" },
				{ 'bSortable': true, "sClass": "center" },
				{ 'bSortable': true, "sClass": "center" },
				{ 'bSortable': true, "sClass": "center" },

				],


				"oLanguage": {
					"sInfo": "共 _TOTAL_ 条 当前第 _START_ 到 _END_ 条 ",
					"sLengthMenu": "展示 _MENU_ 条信息",
					"sSearch": "搜 索 ",
					"oPaginate": {
						"sFirst": "第一页",
						"sPrevious": "Prev",
						"sNext": "Next",
						"sLast": " 最后一页 "
					}
				},
				"bProcessing": true,
				"bServerSide": false,

				"aoColumnDefs": [{
					'bSortable': false,
					'aTargets': [0]
				}
				]
			});
			jQuery('#sample_1 .group-checkable').change(function () {
				var set = jQuery(this).attr("data-set");
				var checked = jQuery(this).is(":checked");
				jQuery(set).each(function () {
					if (checked) {
						$(this).attr("checked", true);
					} else {
						$(this).attr("checked", false);
					}
					$(this).parents('tr').toggleClass("active");
					$(this).parents('span').toggleClass("checked");

				});
				jQuery.uniform.update(set);

			});
			jQuery('#sample_1 tbody tr .checkboxes').change(function () {
				$(this).parents('tr').toggleClass("active");
			});
			jQuery('#sample_1_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
			jQuery('#sample_1_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropdown
			jQuery('#sample_1_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
			App.init();
		});

	</script>


}
