@model Pan.Model.Questions
@{
    ViewBag.Title = "问题编辑";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section headCss{

    <link href="/Content/admin/ueditor/themes/default/css/ueditor.css" rel="stylesheet" />
    <link href="/Content/admin/ueditor/third-party/codemirror/codemirror.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8">
        window.UEDITOR_HOME_URL = "/content/admin/ueditor/";
    </script>
}

@section pageTitle
{
    问题管理				<small>问题编辑</small>
}

@section breadNav
{
    <li>
        <i class="fa fa-home"></i>
        <a href="index">首页</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="/admin/news">问题列表</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li><a href="#">问题编辑</a></li>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>问题编辑</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>

            <div class="portlet-body form">
                <form role="form" action="/admin/Editq" method="post" id="form_question">
                    <div class="form-body ">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="hidden" id="id" name="id" value="@Model.id" />
                                    <label for="inputTitle">标题 </label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="输入标题" value="@Model.title" />
                                </div>
                                <div class="form-group">
                                    <label>内容</label>
                                    <textarea name="content" id="myEditor">
                                        @Model.content
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-actions">
                        <button type="submit" class="btn blue">提交</button>
                        <button type="button" class="btn default">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section footerJS
{<script src="/Content/admin/ueditor/ueditor.config.js"></script>
    <script src="/Content/admin/ueditor/ueditor.all.js"></script>
    <script src="/Content/admin/js/app.js"></script>
    <script src="/Content/admin/js/jquery.validate.min.js"></script>
    <script src="/Content/admin/js/question.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Question.init();

        });
        UE.getEditor("myEditor", { initialFrameHeight: 320, initialFrameWidth: "100%" });
    </script>
}