@{
    ViewBag.Title = "SiteSet";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@section headCss{
    <link href="/Content/admin/select2_metro.css" rel="stylesheet" />
    <link href="/Content/admin/DT_bootstrap.css" rel="stylesheet" />
}
@section pageTitle
{
    设置		<small>站点设置</small>
}
@section breadNav
{
    <li>
        <i class="fa fa-home"></i>
        <a href="index">首页</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li><a href="#">站点设置</a></li>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-reorder"></i>站点设置</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="site">网站名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="site" name="site" placeholder="输入网站名称" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="company">公司名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="company" name="company" placeholder="输入公司名称" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="domain">网站域名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="domain" name="domain" placeholder="输入网站域名" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="managerdirectory">网站管理目录</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="managerdirectory" name="managerdirectory" placeholder="输入网站管理目录" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="server">服务器名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="server" name="server" placeholder="输入服务器名称" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="ip">服务器IP</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="ip" name="ip" placeholder="输入服务器IP" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="netversion">.NET框架版本</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="netversion" name="netversion" placeholder="输入NET框架版本" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="system">操作系统</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="system" name="system" placeholder="输入操作系统" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="iis">IIS环境</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="iis" name="iis" placeholder="输入IIS环境" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="port">网站端口</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="port" name="port" placeholder="输入网站端口" />
                                    </div>
                                </div>

                                <div class="form-group">

                                    <label class="col-sm-2 control-label" for="icp">ICP备案号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="icp" name="icp" placeholder="输入ICP备案号" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div class="form-actions">
                        <div class="col-sm-offset-1 col-sm-12">
                            <button type="submit" class="btn blue">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
</div>
@section footerJS
{

    <script src="/Content/admin/js/app.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}
