@{
	ViewBag.Title = "About_Notice";
}
@section head{
	@{Html.RenderPartial("../shared/_css&js");}
	<script src="/Scripts/getafn.js" type="text/javascript"></script>
}


@{Html.RenderPartial("../shared/about_subbanner");}
<div id="wrapper">
	<div id="container" class="cgstate">
		
		@{Html.RenderPartial("../shared/about_sub_nav");}
		<div id="content" class="">
			<div id="aboutus">
				<div class="title">易房公告</div>
				<div class="column media">
							 
					<dl>
						<dt>
							<h3></h3>
							<p><img src="uploads/image/20131014/1381743556.jpg" width="150" height="90" border="0" alt="关于“智盈宝”10月收益新高的公告" /></p>
						</dt>
						<dd>
							<h4><a href="/news/24497.html" title="关于“智盈宝”10月收益新高的公告">关于“智盈宝”10月收益新高的公告</a></h4>
							<p>       为进一步延续国庆余热，经易房业务部统一讨论决定，即日起至10月30日，易房发起“智盈宝”10月收益新高短促活动。                            </p>
							<div class="info clearfix">
								<span class="fl time c999">2013-10-10 11:35:43</span>
								<span class="fr"><a href="/news/24497.html" class="ccfa" title="关于“智盈宝”10月收益新高的公告">查看详情</a></span>
							</div>
						</dd>
					</dl>
					<div class="shadow_line"></div>
							  
					<dl>
						<dt>
							<h3></h3>
							<p><img src="uploads/image/20131014/1381748289.jpg" width="150" height="90" border="0" alt="关于易房2013年国庆放假安排公告" /></p>
						</dt>
						<dd>
							<h4><a href="/news/24493.html" title="关于易房2013年国庆放假安排公告">关于易房2013年国庆放假安排公告</a></h4>
							<p>       根据《国务院办公厅2013年节假日安排的通知》，经公司研究决定，现将2013年国庆节放假安排通知如下                            </p>
							<div class="info clearfix">
								<span class="fl time c999">2013-09-29 10:39:05</span>
								<span class="fr"><a href="/news/24493.html" class="ccfa" title="关于易房2013年国庆放假安排公告">查看详情</a></span>
							</div>
						</dd>
					</dl>
					<div class="shadow_line"></div>
							  
					<dl>
						<dt>
							<h3></h3>
							<p><img src="uploads/image/20131014/1381748889.jpg" width="150" height="90" border="0" alt="关于易房统一对外电话号码变更的公告" /></p>
						</dt>
						<dd>
							<h4><a href="/news/24490.html" title="关于易房统一对外电话号码变更的公告">关于易房统一对外电话号码变更的公告</a></h4>
							<p>       由于易房通讯设备及线路变更，现对本公司对外电话号码进行相应的调整，变更情况通知如下                            </p>
							<div class="info clearfix">
								<span class="fl time c999">2013-09-22 09:22:38</span>
								<span class="fr"><a href="/news/24490.html" class="ccfa" title="关于易房统一对外电话号码变更的公告">查看详情</a></span>
							</div>
						</dd>
					</dl>
					<div class="shadow_line"></div>
							  
					<dl>
						<dt>
							<h3></h3>
							<p><img src="uploads/image/20131014/1381751296.jpg" width="150" height="90" border="0" alt="关于易房2013年中秋节放假公告" /></p>
						</dt>
						<dd>
							<h4><a href="/news/24489.html" title="关于易房2013年中秋节放假公告">关于易房2013年中秋节放假公告</a></h4>
							<p>       根据《国务院办公厅2013年节假日安排的通知》，经公司研究决定，现将2013年中秋节放假安排通知如下：
2013年9月19日至9月21日放假，共3天，9月22日（星期日）上班。

							</p>
							<div class="info clearfix">
								<span class="fl time c999">2013-09-17 14:29:22</span>
								<span class="fr"><a href="/news/24489.html" class="ccfa" title="关于易房2013年中秋节放假公告">查看详情</a></span>
							</div>
						</dd>
					</dl>
					<div class="shadow_line"></div>
							  
					<dl>
						<dt>
							<h3></h3>
							<p><img src="uploads/image/20130722/1374487063.jpg" width="150" height="90" border="0" alt="关于易房400办公电话变更的公告" /></p>
						</dt>
						<dd>
							<h4><a href="/notice/24474.html" title="关于易房400办公电话变更的公告">关于易房400办公电话变更的公告</a></h4>
							<p>       鉴于易房业务发展需求的变化，现对本公司400电话进行相应的调整，变更情况通知如下：

							</p>
							<div class="info clearfix">
								<span class="fl time c999">2013-07-11 11:33:50</span>
								<span class="fr"><a href="/notice/24474.html" class="ccfa" title="关于易房400办公电话变更的公告">查看详情</a></span>
							</div>
						</dd>
					</dl>
					<div class="shadow_line"></div>
								
				</div>
				<div id="pagenav">
						<div class="page_info">共<span>1</span>页<span>5</span>条记录</div>                </div>
			   
				
			</div><!-- #aboutus-->
		</div><!--#content -->
	</div><!-- #container -->
</div><!-- #wrapper -->