@{
	
}
@section head{

	@{Html.RenderPartial("../shared/_css&js");}

	
}

@{Html.RenderPartial("../shared/about_subbanner");}
<div id="wrapper">
	<div id="container" class="cgstate">
		@{Html.RenderPartial("../shared/about_sub_nav");}
		<div id="content" class="">
			<div id="aboutus">
				<div class="title">联系易房</div>
			   <div class="column contactus">
				<div class="fr">
				  <h3 class="f16 c000">村木金融信息服务（上海）有限公司</h3>
				  <p class="mt20"> 地址：上海市普陀区真北路915号绿洲中环中心912室 <br />
					ADD：912，Central District Oasis ,915
					Zhenbei RD.PuTuo District,Shanghai </p>
				  <p class="mt20" style="padding-left:80px;"> 邮编：   200333 <br />
					咨询热线：   400 8855 836 <br />
					电话(Tel)：   021-61157098 <br />
					客户投诉电话：   021-51028162 <br />
					传真(Fax)：   021-61157098 <br />
					公司服务邮箱： <a href="mailto:185724575@qq.com" class="ccfa" title="cgstate">185724575@qq.com</a> <br />
					网站(Web)： <a href="#" class="ccfa" title="cgstate">www.efdai.com </a><br />
				  </p>
				</div>
			  </div>
			</div><!-- #aboutus-->
		</div><!--#content -->
	</div><!-- #container -->
</div><!-- #wrapper -->
