@{
	
}

@section head{

	@{Html.RenderPartial("../shared/_css&js");}
	@*<script src="/Scripts/getafn.js" type="text/javascript"></script>*@
}


@{Html.RenderPartial("../shared/about_subbanner");}
<div class="bread_crumbs"  style=" display:none;"><a href="http://www.efdai.com">易房贷</a>><a href="http://www.efdai.com">主页</a>><a href="http://www.efdai.com/aboutus.html">关于易房</a></div>
<div id="wrapper">
	<div id="container" class="cgstate">


		@{Html.RenderPartial("../shared/about_sub_nav");}
		<div id="content" class="">
			<div id="aboutus1">
				<div class="title">易房概况</div>
				<div class="column">
					<span class="fl w150 mr20">
						<img src="/Content/images/about_logo.gif" alt="易房 – 专注于快速抵押贷款|保本保息投资理财产品" /></span>
					<div class="fl w600">
						<h3 class="ccfa f14">www.efdai.com</h3>
						<p class="fl">
							易房贷的业务起步于2006年，是上海最领先的综合性P2P互联网金融信息服务平台之一，产品及服务已覆盖金融信息服务全行业，在同类公司中，已形成了绝对竞争力的产业链优势。
							<br />
						</p>
					</div>
				</div>
			</div>
			<!-- #aboutus-->
		</div>
		<!--#content -->
		<div id="content" class="">
			<div id="aboutus">
				<div class="shadow_line"></div>
				<div class="column">
					<span class="fl">
						<img src="/Content/images/about_1_3.jpg" alt="上海房屋抵押贷款公司" /></span>
					<div class="fr w500">
						<h3 class="f16 c000 fwb">主要服务内容</h3>
						<p>
							1、为上海地区中小企业主和个人提供各种融资解决方案，让客户快速、便捷地筹到资金；
							<br />
							2、为上海及周边城市的有产阶层提供各种投资解决方案，让客户安全、稳健地获取投资收益。
						</p>
					</div>
				</div>
				<div class="shadow_line"></div>
				<div class="column arb_bg1">
					<div class="fl w450">
						<h3 class="f16 c000 fwb">风险控制</h3>
						<p>
							平台客户的大部分投融资行为是以上海地区优质房产抵押为基础，我们的团队对融资方提供的抵押物采用稳健的估值，贷款额一般不超过抵押物估值的70%，同时与我们合作的独立的第三方会计师事务所、公证处、律师楼、融资性担保公司、拍卖行为投资方提供严谨、全面的法律和后续管理服务。
						</p>
					</div>
					<span class="fr">
						<img src="/Content/images/about_1_4.jpg" alt="上海快速小额贷款" /></span>
				</div>
				<div class="shadow_line"></div>
				<div class="column arb_bg2">
					<span class="fl">
						<img src="/Content/images/about_1_2.jpg" alt="个人小额贷款服务" /></span>
					<div class="fr w450">
						<h3 class="f16 c000 fwb">2013年运营情况</h3>
						<p>
							作为对传统银行系统不可缺失的有效补充，易房贷自2013年6月网站全新改版以来，已累计帮助上海地区中小企业主和个人获得了累计超过人民币1亿元以上的运营资金，更为投资人获得了安全收益超过人民币1000万。</p>
					</div>
				</div>
			</div>
			<!-- #aboutus-->
		</div>
		<!--#content -->
	</div>
	<!-- #container -->
</div>
<!-- #wrapper -->
