@{
    ViewBag.Title = "About_Media";
}
@section head{

    @{Html.RenderPartial("../shared/_css&js");}
   <script src="/Scripts/getafn.js" type="text/javascript"></script>
}

@{Html.RenderPartial("../shared/about_subbanner");}

<div id="wrapper">
    <div id="container" class="cgstate">
        @{Html.RenderPartial("../shared/about_sub_nav");}

        <div id="content" class="">
            <div id="aboutus">
                <div class="title">媒体报道</div>
                <div class="column media">

                    <dl>
                        <dt>
                            <h3></h3>
                            <p>
                                <img src="uploads/image/20130911/1378903355.jpg" width="150" height="90" border="0" alt="2013易房暨“中小企业金融信息服务高峰论坛”成功举行" /></p>
                        </dt>
                        <dd>
                            <h4><a href="/about-media/17487.html" title="2013易房暨“中小企业金融信息服务高峰论坛”成功举行">2013易房暨“中小企业金融信息服务高峰论坛”成功举行</a></h4>
                            <p>9月6日，“易房·《理财周刊》暨中小企业金融信息服务高峰论坛”于上海隆重举行。与会嘉宾及观众共同探讨“互联网金融是否能对中小企业发展起到帮助”这一热点话题。                            </p>
                            <div class="info clearfix">
                                <span class="fl time c999">2013-09-11 20:09:31</span>
                                <span class="fr"><a href="/about-media/17487.html" class="ccfa" title="2013易房暨“中小企业金融信息服务高峰论坛”成功举行">查看详情</a></span>
                            </div>
                        </dd>
                    </dl>
                    <div class="shadow_line"></div>

                    <dl>
                        <dt>
                            <h3></h3>
                            <p>
                                <img src="uploads/image/20130424/1366778145.jpg" width="150" height="90" border="0" alt="创新P2P模式，解融资难题" /></p>
                        </dt>
                        <dd>
                            <h4><a href="/about-media/17455.html" title="创新P2P模式，解融资难题">创新P2P模式，解融资难题</a></h4>
                            <p>民间资金与小企业“牵手”可有效解决融资难问题，但前提是保证资金安全。作为国内首批获得金融信息服务资质的企业，易房的创新模式对双方都颇具吸引力。                            </p>
                            <div class="info clearfix">
                                <span class="fl time c999">2013-04-24 10:44:54</span>
                                <span class="fr"><a href="/about-media/17455.html" class="ccfa" title="创新P2P模式，解融资难题">查看详情</a></span>
                            </div>
                        </dd>
                    </dl>
                    <div class="shadow_line"></div>

                    <dl>
                        <dt>
                            <h3></h3>
                            <p>
                                <img src="/uploads/image/20121012/1350024093.jpg" width="150" height="90" border="0" alt="中国民间资本运营创新与法治研讨会昨日在沪成功举办" /></p>
                        </dt>
                        <dd>
                            <h4><a href="/about-media/1726.html" title="中国民间资本运营创新与法治研讨会昨日在沪成功举办">中国民间资本运营创新与法治研讨会昨日在沪成功举办</a></h4>
                            <p>昨日，郑传本律师事务所与上海易房创业投资发展有限公司合办的 “中国民间资本运营创新与法治”研讨会在沪成功举办，研讨会针对目前中国正在尝试的民间金融改革大环境下，民间资本运营模式的创新和涉及的法治问题进行了深入探讨。    研讨会上，上海易房创投负责人提出，原始的民间资本运营模式存在的弊端，是以往企业主出走和融资出现                            </p>
                            <div class="info clearfix">
                                <span class="fl time c999">2012-12-18 13:35:49</span>
                                <span class="fr"><a href="/about-media/1726.html" class="ccfa" title="中国民间资本运营创新与法治研讨会昨日在沪成功举办">查看详情</a></span>
                            </div>
                        </dd>
                    </dl>
                    <div class="shadow_line"></div>

                    <dl>
                        <dt>
                            <h3></h3>
                            <p>
                                <img src="/uploads/image/20121012/1350022140.jpg" width="150" height="90" border="0" alt="上海易房创投“智盈宝” ——全新投资理财模式" /></p>
                        </dt>
                        <dd>
                            <h4><a href="/about-media/1725.html" title="上海易房创投“智盈宝” ——全新投资理财模式">上海易房创投“智盈宝” ——全新投资理财模式</a></h4>
                            <p>银行理财收益太低跑不赢CPI，股市不给力，楼市价格过高，市民经常抱怨有闲钱却无处可投资。近日，一种全新的P2P理财信贷模式正在申城悄然兴起。        闲散资金投资理财新模式        发源于欧美，网络P2P借贷已经成为风靡全球的一种投资理财新模式。早在2005年2月，第一个针对个人小额融资的贷款网站Zopa.com就在伦敦正式营运，习惯上                            </p>
                            <div class="info clearfix">
                                <span class="fl time c999">2012-11-08 13:35:00</span>
                                <span class="fr"><a href="/about-media/1725.html" class="ccfa" title="上海易房创投“智盈宝” ——全新投资理财模式">查看详情</a></span>
                            </div>
                        </dd>
                    </dl>
                    <div class="shadow_line"></div>

                    <dl>
                        <dt>
                            <h3></h3>
                            <p>
                                <img src="/uploads/image/20121012/1350023319.jpg" width="150" height="90" border="0" alt="上海易房创投抵押贷款业务 低利率速贷赢得客户好评" /></p>
                        </dt>
                        <dd>
                            <h4><a href="/about-media/1724.html" title="上海易房创投抵押贷款业务 低利率速贷赢得客户好评">上海易房创投抵押贷款业务 低利率速贷赢得客户好评</a></h4>
                            <p>自二○○八年十一月上海第一家小额贷款公司开业以来，截止二○一二年三月底，上海地区小额贷款公司数量达到七十二家、贷款余额接近120亿，均呈快速增长态势。         特别在去年央行连续加息调准之后，银行信贷额度紧张，催生各路资金贷款利率抬升，包括小额贷款公司、典当行、担保公司和私人借贷等多个渠道在内的民间金融今年异常活跃，民                            </p>
                            <div class="info clearfix">
                                <span class="fl time c999">2012-10-22 13:33:00</span>
                                <span class="fr"><a href="/about-media/1724.html" class="ccfa" title="上海易房创投抵押贷款业务 低利率速贷赢得客户好评">查看详情</a></span>
                            </div>
                        </dd>
                    </dl>
                    <div class="shadow_line"></div>

                </div>
                <div id="pagenav">
                    <div class="page_list"><a href="javascript:;">&lt;&lt;</a><a href="javascript:;">&lt;</a><a href="javascript:;" class="on">1</a><a href="?page=2" class="num">2</a><a href="?page=2">&gt;</a><a href="?page=2">&gt;&gt;</a></div>
                </div>


            </div>
            <!-- #aboutus-->
        </div>
        <!--#content -->
    </div>
    <!-- #container -->
</div>
<!-- #wrapper -->
