@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>error</title>
</head>
<body>
    <div>
        <script type="text/javascript">
            window.location = '/index.html';
        </script>
    </div>
</body>
</html>
