@{
	ViewBag.Title = "HelpsList";
}
@section head{

	@{Html.RenderPartial("../shared/_css&js");}
	
}
@{Html.RenderPartial("../shared/helps_subbanner");}

<div id="wrapper">
	<div id="container" class="cgstate">
		@{Html.RenderPartial("../shared/helps_sub_nav");}
		<div id="content">
			<div id="helps">
				<div class="left">
					<p class="movie"><a href="/richs_movie.html" target="_blank" title="新手教学"><img src="/Content/images/help_left_pic.jpg" alt="新手教学" /></a></p>
					<div class="left_item">
											 
						<dl>
							<dt class='current'>了解易房</dt>
														<dd><a  href="helpslist.php?cid=1&sid=16">&bull; 了解易房</a></dd>
													</dl>
												 
						<dl>
							<dt >我要借款</dt>
														<dd><a  href="helpslist.php?cid=2&sid=3">&bull; 申请相关</a></dd>
														<dd><a  href="helpslist.php?cid=2&sid=4">&bull; 办理流程相关</a></dd>
														<dd><a  href="helpslist.php?cid=2&sid=5">&bull; 利率费用相关</a></dd>
														<dd><a  href="helpslist.php?cid=2&sid=6">&bull; 时间相关</a></dd>
														<dd><a  href="helpslist.php?cid=2&sid=7">&bull; 安全相关</a></dd>
														<dd><a  href="helpslist.php?cid=2&sid=8">&bull; 法律手续相关</a></dd>
													</dl>
												 
						<dl>
							<dt >我要投资</dt>
														<dd><a  href="helpslist.php?cid=9&sid=10">&bull; 申请相关</a></dd>
														<dd><a  href="helpslist.php?cid=9&sid=11">&bull; 办理流程相关</a></dd>
														<dd><a  href="helpslist.php?cid=9&sid=12">&bull; 投资收益相关</a></dd>
														<dd><a  href="helpslist.php?cid=9&sid=13">&bull;  时间相关</a></dd>
														<dd><a  href="helpslist.php?cid=9&sid=14">&bull; 安全相关</a></dd>
														<dd><a  href="helpslist.php?cid=9&sid=15">&bull; 法律手续相关</a></dd>
													</dl>
												 
						<dl>
							<dt > 名词解释</dt>
														<dd><a  href="helpslist.php?cid=17&sid=19">&bull; 名词解释</a></dd>
													</dl>
												 
						<dl>
							<dt >法律常识</dt>
														<dd><a  href="helpslist.php?cid=18&sid=20">&bull; 法律常识</a></dd>
													</dl>
																
					</div>
				</div>
				<div class="right">
										<div class="sbanner"><img src="/Content/images/help_sbanner1.jpg" alt="" /></div>
										<div class="right_item mt5">
						<div class="item_top"></div>
						<div class="h_icon4"></div>
						<div class="item_box">
							<h2 class="help_title">
							<div class="box">
								<div style="text-align:center"><img src="//Content/images/error_pic.png" alt="" /></div>
							</div>
						</div>
						<div class="item_bottom"></div>					
					</div><!-- # fq_list -->
				</div>
			</div><!-- #helps -->
		</div><!--#content -->
	</div><!-- #container -->
	</div><!-- #wrapper -->