@{
	ViewBag.Title = "Jobs";
}
@section head{

	@{Html.RenderPartial("../shared/_css&js");}
	
}
@{Html.RenderPartial("../shared/about_subbanner");}
<div id="wrapper">
	<div id="container" class="cgstate">


		@{Html.RenderPartial("../shared/about_sub_nav");}

		<div id="content" class="">

			<div id="aboutus">
				<div class="title">职位介绍</div>
				<div id="intro">
					<div class="side fl">
				<ul>
					<li><a href="#goto01">资深客服</a></li>
					<li><a href="#goto02">高级理财客户经理</a></li>
					<li><a href="#goto03">高级融资客户经理</a></li>
					<li><a href="#goto04">客服主管</a></li>	
					<li><a href="#goto04">网络营销经理</a></li>					
				</ul>
				<div class="mailto">请发送简历至 <a href="mailto:185724575@qq.com" class="cc69 fwb">185724575@qq.com </a></div>
			</div>
					<div class="main fr">
						<div class="intro_list">
							<div class="item">
								<h2 class="intro_title"><a name="goto01"></a>资深客服</h2>
								<dl>
									<dt class="in01"></dt>
									<dd>
										<h3>岗位职责：</h3>
										<p>
											1、根据公司产品特点，为客户建立、提供专业的资产管理咨询服务<br />
											2、根据业务要求，定期做客户回访，做好老客户维护和再开发，主动、积极地为客户提供各类理财产品<br />
											3、根据一线工作了解到的客户反馈，向公司提出产品及流程优化建议<br />
										</p>
										<h3 class="mt30">岗位要求：</h3>
										<p>
											1、专科或以上学历，一年以上服务行业从业经验，资深客户服务工作者优先考虑<br />
											2、优秀的语言表达及沟通、人际交往及维护客户能力<br />
											3、个人形象良好，诚实守信，具有高度团队合作精神和工作态度<br />

										</p>
									</dd>
								</dl>
							</div>
							<div class="item">
								<h2 class="intro_title"><a name="goto02"></a>高级理财客户经理</h2>
								<dl>
									<dt class="in02"></dt>
									<dd>
										<h3>岗位职责：</h3>
										<p>
											1、向客户介绍公司理财产品，做好产品咨询工作<br />
											2、陪同协助客户办理购买产品相关的手续<br />
											3、跟踪客户，了解客户满意度<br />
											4、整理客户信息，分析汇总客户需求<br />
											5、做好客户回访工作，持续向客户提供后续服务<br />

										</p>
										<h3 class="mt30">岗位要求：</h3>
										<p>
											1、户籍上海，女性，形象气质佳，年龄25岁至35岁<br />
											2、普通话标准，声音甜美，口齿清晰<br />
											3、良好的客户服务意识，可以灵活高效地处理各类客服突发事件<br />

										</p>
									</dd>
								</dl>
							</div>
							<div class="item">
								<h2 class="intro_title"><a name="goto03"></a>高级融资客户经理</h2>
								<dl>
									<dt class="in03"></dt>
									<dd>
										<h3>岗位职责：</h3>
										<p>
											1、与有融资需求的客户接洽，了解客户办理贷款方面的所有资料，初步评估<br />
											2、根据客户所提供的资料以及独立调查资料，评估客户整体资质<br />
											3、根据法律法规以及行业规定，陪同客户办理所有手续<br />
											4、放款后每月定时、有效地完成客户及融资管理工作<br />
											5、对客户资料进行收集、整理、汇总并存档，做好客户管理工作<br />
											6、根据实际业务情况，为公司业务操作流程提出修改建议<br />
											7、如融资客户发生任何违约情况，根据法律法规及约定的条例，协助跟进处理<br />

										</p>
										<h3 class="mt30">岗位要求：</h3>
										<p>
											1、户籍上海，35岁左右，男女不限，有银行信贷审核从业经验者优先考虑<br />
											2、优秀的语言表达及沟通、人际交往，突出的独立判断、评审、谈判综合能力；<br />
											3、个人形象良好，诚实守信，具有高度团队合作精神和工作态度；<br />
											4、良好的法律法规意识和客户服务意识，可以灵活高效地处理各类客服事件<br />

										</p>
									</dd>
								</dl>
							</div>
							<div class="item">
								<h2 class="intro_title"><a name="goto04"></a>客服主管</h2>
								<dl>
									<dt class="in04"></dt>
									<dd>
										<h3>岗位职责：</h3>
										<p>
											1、制定完善现有客服体系<br />
											2、处理客户投诉，提高客服质量<br />
											3、客户满意度维护，定期抽查及改进<br />
											4、客服人员日常工作管理<br />
											5、客服团队建设及管理<br />

										</p>
										<h3 class="mt30">岗位要求：</h3>
										<p>
											1、户籍上海，年龄28-35岁，
											<br />
											2、大专以上学历，市场营销、电子商务等相关专业毕业优先考虑<br />
											3、有责任心，有上进心，有较强的协调能力及管理能力<br />
											4、客服相关工作经验3年以上，有400客服经验者优先考虑<br />
											5、1年以上客服主管、团队建设管理等相关工作经验<br />


										</p>
									</dd>
								</dl>
							</div>
							<div class="item">
								<h2 class="intro_title"><a name="goto05"></a>网络营销经理</h2>
								<dl>
									<dt class="in05"></dt>
									<dd>
										<h3>岗位职责：</h3>
										<p>
											<b>一、网络推广方面工作：</b><br />
											1、 搜索竞价。包括百度，谷歌，SOSO，搜狗等；<br />
											2、 网盟。包括百度，谷歌及其他媒体等；<br />
											3、 渠道平台。包括门户新闻平台、分类信息平台以及其他金融类平台；<br />
											4、 非竞价。包括博客、空间、知道、论坛、问问、百科、图片、新闻、软文、微博等收费或者免费平台。<br />
											<b>二、数据分析方面工作：</b><br />
											1、 竞价关键字分析。包括访问量、展现量、点击率、有消费关键字、词均消费、核心关键字、长尾关键字、转化率高的关键字、价值高的关键字、搜索词等；<br />
											2、 访问统计分析。包括受访页面、访客停留时间、访客浏览路径、浏览者忠诚度、访问量、访问规律以及趋势等方面的统计分析；<br />
											3、 咨询情况分析。包括流失率、有效咨询率、预约分析、各项转化率分析等等<br />
											4、 ROI分析。包括对话成本、预约成本以及成功签约成本等。<br />
											<b>三、网络营销方面工作：</b><br />
											1、 网站访问量。<br />
											2、 有效转化。包括对话转化、预约转化以及信息传播转化；<br />
											3、 品牌宣传和口碑宣传；<br />
											4、SEM。包括竞价、SEO、广告和信息传播。<br />

										</p>
										<h3 class="mt30">岗位要求：</h3>
										<p>
											1. 丰富的网络推广经验，优秀的策划能力<br />
											2. 丰富的网络推广渠道和资源<br />
											3. 精通百度竞价、微博、微信推广<br />
											4. 学习能力，团队协作能力，抗压能力<br />

										</p>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<!-- #jobs -->
			</div>

		</div>
		<!-- #aboutus-->
	</div>
	<!--#content -->
</div>
<!-- #container -->
</div><!-- #wrapper -->