<div id="footer">
    <div class="foot_wrap cgstate">
        <div class="f_nav">
            <dl>
                <dt><a href="/aboutus.html">关于易房</a></dt>
                <dd><a href="/aboutus.html">易房概况</a></dd>
                <dd><a href="/news.html">易房资讯</a></dd>
                <dd><a href="/aboutus.html">易房动态</a></dd>
                <dd><a href="/jobs.html">加入易房</a></dd>
                <dd><a href="/about_contactus.html">联系易房</a></dd>
               @* <dd><a href="/sitemap.html">网站地图</a></dd>*@
            </dl>
            <dl>
                <dt><a href="/safe.html">安全保障</a></dt>
                <dd><a href="/safe.html?seltab=1">保障手续</a></dd>
                <dd><a href="/safe.html?seltab=2">政策法规</a></dd>
                <dd><a href="/safe.html?seltab=3">隐私条款</a></dd>
            </dl>
            <dl>
                <dt><a href="/helps.php">帮助中心</a></dt>
                <dd><a href="/jikedai.html">我要贷款</a></dd>
                <dd><a href="/zhiyingbao.html">我要理财</a></dd>
                <dd><a href="/helps.html">名词解释</a></dd>
                <dd><a class="footer_feedback" href="/feedback.html" rel="nofollow">在线留言</a></dd>

            </dl>
        </div>
        <div class="weichat">
            <dl>
                <dt class="pic"></dt>
                <dd>
                    <br />
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=185724575&amp;site=qq&amp;menu=yes" class="fwei01" title="点击这里给我发消息" rel="nofollow"><span>客服在线</span> <em>在线咨询</em></a>

                </dd>
            </dl>
        </div>
        <div class="copyright">
            <div class="tel">
                <em>400 8855 836</em>
                <br />
                <span>咨询热线(9:00 - 22:00)</span>
            </div>
            <p class="info">
                地址：上海市普陀区真北路915号绿洲中环中心912室<br />
                邮编： 200333
                    <br />
                电话(Tel)： 021-61157098
                    <br />
                客户投诉电话： 021-51028162
                    <br />
                传真(Fax)： 021-61157098
            </p>
        </div>
    </div>
    <div class="copy_wrap cgstate">
        <p><a href="http://www.efdai.com">易房贷</a> | <a href="http://www.efdai.com">上海房产抵押贷款</a> | <a href="http://www.efdai.com/jikedai.html">房产抵押贷款</a> | <a href="http://www.efdai.com/zhiyingbao.html">保本理财</a> | <a href="http://www.efdai.com/jikedai.html">房产贷款</a> | <a href="http://www.efdai.com">上海贷款公司</a> | <a href="http://www.efdai.com/jikedai.html">个人房产贷款</a> | <a href="http://www.efdai.com/jikedai.html">个人抵押贷款</a> | <a href="http://www.efdai.com/jikedai.html">汽车抵押贷款</a> | <a href="http://www.efdai.com/jikedai.html">汽车贷款</a></p>
        <p><a href="http://www.efdai.com" target="_self"  title="返回易房首页">网站首页</a> | <a href="/jikedai.html" target="_self"  title="我要贷款">我要贷款</a> | <a href="/zhiyingbao.html" target="_self"  title="我要理财">我要理财</a> | <a href="/safe.html" target="_self"  title="安全保障">安全保障</a> | <a href="/news.html" target="_self"  title="易房资讯">易房咨询</a> | <a href="/partner.html" target="_self"  title="机构合作">机构合作</a> | <a id="about_nav_1" target="_self"  href="/aboutus.html" title="关于易房">关于易房</a> | <a href="/helps.html" target="_self"  title="帮助中心">帮助中心</a> | <a href="/siteMap.html" target="_self"  title="帮助中心">网站地图</a></p>
        <p class="f_info">
            Copyright 2012-2013 &copy;村木金融信息服务（上海）有限公司<a target="_blank" href="http://www.efdai.com" class="cc69"> efadi.com </a>沪ICP备13022159号
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8dac1a5ad7e0dd4d53fc6deb3f9505f5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        </p>
        <div class="f_icon">
            <a class="c_icon01" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank">经营性网站备案信息</a>
            <a class="c_icon02" href="http://27.189.197.73/" rel="nofollow" target="_blank">网络警察</a>
            <a class="c_icon03" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20130923121114960" rel="nofollow" target="_blank">上海工商</a>
            <span class="hide">
                <script src="http://kxlogo.knet.cn/seallogo.dll?sn=e1305133101004063437ki000000&amp;size=4"></script>
            </span>
            <a class="c_icon04" href="https://ss.knet.cn/verifyseal.dll?sn=e1305133101004063437ki000000&amp;ct=df&amp;a=1&amp;pa=483929" rel="nofollow" target="_blank">可信网站</a>
        </div>
        
    </div>
</div>



<!-- #footer -->
