<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>

	<link href="/Content/base.css" rel="stylesheet" />
	<link href="/Content/jobs.css" rel="stylesheet" />
	<script src="/Scripts/jquery.js" type="text/javascript"></script>
	<script src="/Scripts/getfilename.js" type="text/javascript"></script>


</head>


<body>
	<div id="header">
		<div class="h_wrap cgstate">
			<a href="/" class="logo" title="房产抵押贷款">房产抵押贷款</a>
			<div class="top">
				<ul>
					<li><a href="/">首页</a></li>

					<li class="t_tel">咨询热线：<em>400 8855 836</em></li>
				</ul>
			</div>
			<div class="nav">
				<ul>
				   <li><a href="/job/" title="走进易房">走进易房</a></li>
				<li><a href="/job/intro.html" title="职位介绍">职位介绍</a></li>
				<li><a href="/job/welfare.html" title="薪酬福利">薪酬福利</a></li>
				<li><a href="/job/train.html" title="培训发展">培训发展</a></li>				
				<li><a href="/job/guide.html" title="应聘者指南">应聘者指南</a></li>
				<li><a target="_blank" href="/" title="返回易房官网">返回易房官网</a></li>

				   
				</ul>
			</div>
		</div>
		<div class="h_shadow"></div>
	</div>
	<div id="jobs_banner">
	<img src="/Content/images/jobs_banner.jpg" alt="" />
</div><!-- #jobs_banner -->
<div class="jobs_shadow"></div> 
	@RenderBody()
	@{Html.RenderPartial("_footer");}
</body>
</html>
