<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>上海房产抵押贷款就上易房</title>
	<meta name="Keywords" content="房产抵押贷款,上海房产抵押贷款" />
	<meta name="Description" content="易房金融信息服务有限公司为个人和企业提供专业的上海房产抵押贷款居间服务。咨询热线4008855386" />
	<meta name="viewport" content="width=device-width,minimum-scale=0.5,maximum-scale=0.5" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<link rel="stylesheet" type="text/css" href="/Content/WireLess/css/m_cgstate.css" media="all" />
</head>
<body>
	<div id="wrapper">
		<header id="header">
			<div class="top_wrap">
				<h1 class="fl">
					<a href="index.html" title="易房">
						<img src="/Content/WireLess/images/logo.png" alt="" /></a>
				</h1>
				<div class="fr">
					<span><a href="tel://4008855386">4008855386</a></span>
				</div>
			</div>
		</header>
		@RenderBody()
		<section id="hfooter">
			<p>&copy; 2013 易房</p>
		</section>
	</div>

	<footer id="footer">
		<ul>
			<li><a href="aboutus.html" title="关于易房">
				<img src="/Content/WireLess/images/footer_nav_icon1.png" alt="关于易房" /></a></li>
			<li><a href="./" title="回到首页">
				<img src="/Content/WireLess/images/footer_nav_icon2.png" alt="回到首页" /></a></li>
			<li><a href="tel://4008855386" title="4008855386">
				<img src="/Content/WireLess/images/footer_nav_icon3.png" alt="4008855386" /></a></li>
		</ul>
	</footer>
	<!-- footer -->
	<script src="/Content/WireLess/JS/swipe.min.js"></script>
<script type="text/javascript">
	window.mySwipe = new Swipe(document.getElementById('slider'), {
		//   startSlide: 2,
		speed: 400,
		auto: 2000,
		callback: function (event, index, elem) { }
	});
</script>
</body>
</html>
