
@*<div id="subbanner">
	<div class="cgstate">
		<div class="fl title">
			<h1>关于易房</h1>
			<p>ABOUT US</p>
		</div>
		<div class="fr">
			<img src="/Content/images/aboutus_banner.jpg" />
		</div>
		
	</div><!-- w980 -->
</div><!-- sub banner -->
<div class="sub_shadow"></div>*@
