


@*<div id="subbanner">
	<div class="cgstate">
		<div class="fl title">
			<h1>易房资讯</h1>
			<p>LATEST NEWS</p>
		</div>
		<div class="fr">
			<img src="/Content/images/news_banner.jpg" alt="" />
		</div>
	</div>
	<!-- w980 -->
</div>
<!-- sub banner -->*@