<div id="sub_header_nav">
    <h2 class="fl">帮助中心</h2>
    <ul class="fr">
        <li><a href="helps.html" title="帮助中心">帮助中心</a></li>
        <li><a href="/richs_movie.html" target="_blank" title="新手教学">新手教学 </a></li>

        <li><a href="helpslist.html" title="了解易房">了解易房</a></li>

        <li><a href="helpslist.php?cid=2" title="我要借款">我要借款</a></li>

        <li><a href="helpslist.php?cid=9" title="我要投资">我要投资</a></li>

        <li><a href="helpslist.php?cid=17" title=" 名词解释">名词解释</a></li>

        <li><a href="helpslist.php?cid=18" title="法律常识">法律常识</a></li>
        <li><a href="about_contactus" target="_blank" title="联系客服">联系客服</a></li>
    </ul>
</div>
<!--#sub_header_nav -->
