#map {
    width:100%;   
}
    #map h3 {
        font-size:20px;
        color:#936d13;
    }
    #map p {
        padding-left:20px;
        line-height:40px;
        font-size:14px;
    }
    #map .p40 {
        padding-left:40px;
    }
