@{
	ViewBag.Title = "aboutus";
	Layout = "~/Views/Shared/_LayoutWireLessPage.cshtml";
}

<div id="sub_banner">
		<div class="pic_banner"><img src="/Content/WireLess/images/about_banner.jpg" alt="" /></div>
		<div class="pic_banner_info"><img src="/Content/WireLess/images/about_banner_info.png" alt="" /></div>
	</div>
	<section id="aq_row">		
		<dl>
			<dt>易房概况</dt>
			<dd>易房C&G的业务起步于2006年，是上海最领先的综合性P2P互联网金融信息服务平台之一，产品及服务已覆盖金融信息服务全行业，在同类公司中，已形成了绝对竞争力的产业链优势。 </dd>			
		</dl>
		<dl>
			<dt>主要服务内容</dt>
			<dd>1、为上海地区中小企业主和个人提供各种融资解决方案，让客户快速、便捷地筹到资金； </dd>
			<dd>2、为上海及周边城市的有产阶层提供各种投资解决方案，让客户安全、稳健地获取投资收益</dd>			
		</dl>
		<dl>
			<dt>风险控制</dt>
			<dd>平台客户的大部分投融资行为是以上海地区优质房产抵押为基础，我们的团队对融资方提供的抵押物采用稳健的估值，贷款额一般不超过抵押物估值的70%，同时与我们合作的独立的第三方会计师事务所、公证处、律师楼、融资性担保公司、拍卖行为投资方提供严谨、全面的法律和后续管理服务。</dd>
		</dl>
		<dl>
			<dt>2012年运营情况</dt>
			<dd>作为对传统银行系统不可缺失的有效补充，易房C&G自2012年4月网站全新改版以来，已累计帮助上海地区中小企业主和个人获得了累计超过人民币2亿元以上的运营资金，更为投资人获得了安全收益超过人民币2500万。</dd>
		</dl>
	</section>
