@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutWireLessPage.cshtml";
}


<div id="banner">
		<div id='slider' class='swipe'>
		  <ul>
			<li style='display:block'><a href="jikedai.html" title="我要贷款"><img src="/Content/WireLess/images/banner_01.jpg" alt="我要贷款" /></a></li>
			<li style='display:none'><a href="zhiyingbao.html" title="我是理财"><img src="/Content/WireLess/images/banner_02.jpg" alt="我是理财" /></a></li>	
		  </ul>		  
		</div>
	</div>
	<section id="homenav">
		<ul>
			<li><a href="jikedai.html"><img src="/Content/WireLess/images/home_nav_icon1.png" alt="我要贷款" /></a></li>
			<li><a href="hezuo.html"><img src="/Content/WireLess/images/home_nav_icon2.png" alt="我要合作" /></a></li>
			<li><a href="zhiyingbao.html"><img src="/Content/WireLess/images/home_nav_icon3.png" alt="我是理财" /></a></li>
			<li><a href="safe.html"><img src="/Content/WireLess/images/home_nav_icon4.png" alt="安全保障" /></a></li>
		</ul>
	</section>
