@{
	ViewBag.Title = "safe";
	Layout = "~/Views/Shared/_LayoutWireLessPage.cshtml";
}

<div id="sub_banner">
		<div class="pic_banner"><img src="/Content/WireLess/images/aq_banner.jpg" alt="" /></div>
		<div class="pic_banner_info"><img src="/Content/WireLess/images/aq_banner_info.png" alt="" /></div>
	</div>
	<section id="sub_info">
		<img src="/Content/WireLess/images/aq_service.png" alt="" />
	</section>	
	<section id="aq_row">		
		<dl>
			<dt>拿在手里最安全，双重担保保障</dt>
			<dd>1、上海优质房产抵押至出资人名下，一旦借款人违约，由担保公司替出借人处置赋予强制执行效力的优质房产，从而保障出借人的本息安全。</dd>
			<dd>2、第三方融资性担保公司为每一笔债权项目提供100%连带责任担保，并出具“担保函”。</dd>			
		</dl>
		<dl>
			<dt>严格甄选每一位借款客户，只为安全</dt>
			<dd>1、易房对每一位提出借款申请的客户进行基本资料审核，并对其提供的抵押房产进行实地评估，得出初步审核结果。</dd>
			<dd>2、资深风控团队对初审通过的借款客户进行再次审核，通过甄选信用等级高、且还款能力强的优质借款客户，进一步保障投资人的利益。</dd>			
		</dl>
		<dl>
			<dt>资金流向透明，在流程上杜绝风险</dt>
			<dd>1、易房不经手资金，由第三方律师事务所开设专款专用的资金监管账户，该监管账户的提现、划转均有严格规定</dd>
			<dd>2、易房发布的债权项目都经易房及专业机构严格的内部审核，同时寻找第三担保公司或AA级以上的核心企业提供担保</dd>
			<dd>3、易房是全国首批获得金融信息服务资质的网络投融资平台，也是全国首家与由第三方独立的融资性担保公司为投资人提供全额本息担保的金融信息服务平台</dd>
		</dl>
		
	</section>
